{
    "access_token": "YOUR_ACCESS_TOKEN_HERE",
    "refresh_token": "YOUR_REFRESH_TOKEN_HERE",
    "expires_in": "86400",
    "token_type": "Bearer",
    "expires_at": "2026-03-15T14:30:46Z",
    "obtained_at": "2026-03-14T14:30:46Z"
}
